#                        Internship Project

In [5]:
# Question 1

def func(a, b):
    if a == 0:
        return b
    else:
        return func(b % a, a)

print(func(30, 75))

15

In [6]:
numbers = (4, 7, 19, 2, 89, 45, 72, 22)
sorted_numbers = sorted(numbers)
even = lambda a: a % 2 == 0
even_numbers = filter(even, sorted_numbers)
print(type(even_numbers))

<class 'filter'>

In [7]:
set1 = {14, 3, 55}
set2 = {82, 49, 62}
set3 = {99, 22, 17}
print(len(set1 + set2 + set3))

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [8]:
print((4 ** 3) + (7 + 5) ** (1 + 1))

208

In [9]:
# Option A 

captains = {
    "Enterprise" : "Picard",
    "Voyager" : "Janeway",
    "Defiant" : "Sisko"
}

for ship, captain in captains.items():
    print(ship, captain)

Enterprise Picard
Voyager Janeway
Defiant Sisko

In [10]:
# Option B

captains = {
    "Enterprise" : "Picard",
    "Voyager" : "Janeway",
    "Defiant" : "Sisko"
}

for ship in captains:
    print(ship, captains[ship])

Enterprise Picard
Voyager Janeway
Defiant Sisko

In [11]:
captains = {}

In [13]:
captains["Enterprise"] = "Picard"
captains["Voyager"] = "Janeway"
captains["Defiant"] = "Sisko"

print(captains)

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}

In [17]:
captains = {
    "Enterprise" : "Picard",
    "Voyager" : "Janeway",
    "Defiant" : "Sisko",
    "Discovery" : "unknown",
}

for ship, captain in captains.items():
    print(f"The {ship} is captained by {captain}")

The Enterprise is captained by Picard
The Voyager is captained by Janeway
The Defiant is captained by Sisko
The Discovery is captained by unknown

In [18]:
del captains["Discovery"]

In [19]:
print(captains)

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}